{% load static %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/10301.css' %}">
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/10201.css' %}">
<div class="e10301001c">
    <div class="e10301001">
        <div class="e10301002c e10401005c">
            <div class="e10301002">
                <h2>{{interview.name}}</h2>
            </div>
        </div>
        <div class="e10301003c">
            <div class="e10301003">
                {% for dict in interview.formlist %}
                    <div class="e10401005c">
                        {% include "questionForm.html" with element=dict %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>