{% load static %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/10401.css' %}">
<div class="e10401001c">
    <div class="e10401001">

        <div class="e10401002c">
            <div class="e10401002">
                <h1>New Entry</h1>
            </div>
        </div>

        <div class="e10401003c">
            <div class="e10401003">
                <form method="post">
                    <div class="e10401004c">
                        <div class="e10401004">
                            {% csrf_token %}
                            
                            {% for interview in entrytemplate.interviews %}
                                {% include interview.template %}
                            {% endfor %}
                            
                        </div>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>
</div>