{% extends 'main.html' %}



{% block content %}
{% load static %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/10402.css' %}">
<script src="{% static 'scripts/overflowTest.js' %}"></script>


<div class="e10402001c">
    <div class="e10402001">

        <div class="e10402002c">
            <div class="e10402002">

            </div>
        </div>

        <div class="e10402003c">
            <div class="e10402003">
                <form method="post" id="0000">
                    {% csrf_token %}
                    <div class="e10402004c" id="overflowTest_pageContainer">
                        <div class="e10402004 overflowTest_page">
                            {% for interview in entrytemplate.interviews %}
                                {% include interview.template %}
                            {% endfor %}
                            
                        </div>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}